<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>
<button class="btn">Button</button>
<button class="btn btn-primary">Button</button>
<button class="btn w-64 rounded-full">Button</button>

<div>
  <button class="btn btn-primary">One</button>
  <button class="btn btn-secondary">Two</button>
  <button class="btn btn-accent btn-outline">Three</button>
</div>
<div>
<button class="btn rounded-full">One</button>
<button class="btn rounded-none px-16">Two</button>
</div>