<section class="container mx-auto px-4 sm:px-6">
  <div class="bg-white shadow-lg rounded-lg p-4 sm:p-6 md:p-8 mb-10">
    <h1 class="text-lg sm:text-xl md:text-2xl font-semibold text-gray-800">フロスバディとは？</h1>
    <p class="text-gray-600 mt-4">
      フロスバディはあなたのオーラルケアの新しいパートナー。
    </p>
    <p class="text-gray-600 mt-4">
      LINEを通じてデンタルフロスの習慣化をサポートし、健康な歯と輝く笑顔を目指します。
    </p>
    <p class="text-gray-600 mt-4">
      歯科定期検診のリマインド機能付きで、忙しいあなたも安心。
    </p>
    <p class="text-gray-600 mt-4">
      今すぐフロスバディと友だちになって、毎日のオーラルケアを楽しく効果的に。
    </p>

    <%= link_to "https://lin.ee/utJYG6V", target: "_blank", rel: "noopener noreferrer" do %>
      <%= image_tag("https://scdn.line-apps.com/n/line_add_friends/btn/ja.png", alt: "友だち追加", class: "h-12 border-none") %>
    <% end %>

    <%= image_tag("https://qr-official.line.me/gs/M_250efiuz_BW.png?oat_content=qr", alt: "QRコード", class: "h-40") %>
  </div>
</section>