<span class="loading loading-spinner text-info loading-lg"></span>
<span class="loading loading-spinner text-info loading-lg"></span>
<span class="loading loading-spinner text-info loading-lg"></span>
<%= javascript_include_tag "new", "data-turbo-track": "reload", defer: true %>
