<header>
  <nav class="navbar bg-blue-200">
    <%= link_to '/', class: 'flex items-center navbar-start' do %>
      <%= image_tag('header_logo.png', class: 'h-10 sm:h-11') %>
    <% end %>
  </nav>
</header>
